@model VMLbaithi2324.Models.VML850Person

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VML850Person</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VML850Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VML850Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VML850SoThich)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VML850SoThich)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VML850ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
